body {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    background-color: var(--background);
}

.miha {
    box-shadow: 0 2px 4px 0 rgba(123, 123, 123, 0.1);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    font-size: 0.9rem;
}

nav a:hover {
    border-bottom: 2.4px solid var(--black-opacity-80-percent);
}


.item_navigation {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin: 0.2rem;
}

.item_first {
    margin-right: auto;
}

.item_last {
    margin-left: auto;
}

#section_hero {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

h1 {
    font-size: 2.7rem;
    font-weight: var(--font-weight-600);
}

h2 {
    font-size: 1.1rem;
    font-weight: var(--font-weight-300);
}

.hero_links {
    display: flex;
    flex-direction: row;
}


#section_hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_section {
    padding: 1.4rem;
}

a {
    text-decoration: none;
}

.hero_links {
    gap: 30px
}

.item_link {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.318);
    padding: 10px;
}

a {
    color: var(--black-opacity-80-percent);
}


h1 {
    line-height: 2.6rem;
}

h2 {
    line-height: calc(1.25rem * 1.2);
    color: var(--black-opacity-75-percent);
}